
body
{
    font-family: "Georgia", "Times", sans-serif;
    font-size: 16px; 
    line-height: 1.6em;
}


#content
{      
    float:left;
    width: 800px;
    height: 600px;
    margin: 0px 80px 20px 80px;
    background: url(images/front.jpg);
    background-size:cover;
    
}

#info
{
    width: 800px;
    margin: 0px 80px 20px 80px;
    float:left;  
}

#circles
{
}

.circle
{
    border-radius: 50%;
    width:200px;
    height: 200px;
    margin: 20px 60px 40px 60px;
    background-size: cover;
    display:block;
    float:left;
}

#find
{
   
}

#aboutfirst
{

   
}

#aboutcompetitions
{
   
}




#teaminfo
{   
    width: 260px;
    height: 200px;
    padding: 0 0 10px 0;
    float:right; 
    margin: 10px 0px 0px 10px; 
    background-image: url(images/firstcommunity.jpg);
    background-size:cover;
}

#firstgeneral, #teamgeneral, #competitiongeneral
{   
    width: 260px;
    height: 200px;
    padding: 0 0 10px 0;
    float:right; 
    margin: 10px 0px 0px 10px; 
}

#firstgeneral
{
    background-image: url(images/competition8.jpg);
    background-size:cover;
}

#teamgeneral
{
    background-image: url(images/competition6.jpg);
    background-size:cover;
}

#competitiongeneral
{
    background-image: url(images/competition7.jpg);
    background-size:cover;
}

#competitioncontent, #firstcontent, #teamcontent
{
    float: left;
    margin: 10px 0px;
    width: 690px;
    height: 430px;
}

#aboutcontent
{
    float: left;
    margin: 10px 0px;
    width: 690px;
    height: 650px;
    background-image: url(images/competition3.jpg);
    background-size:cover;
}

#logo771
{
    height:100px;
    width: 100px;
    margin: 10px 0;
    background-color: aquamarine;
    float: left;
}


#teamcontent
{
    background-image: url(images/map.jpg);
    background-size:cover;
}

#firstcontent
{
    background-image: url(images/map.jpg);
    background-size:cover;
}

#competitioncontent
{
    background-image: url(images/map.jpg);
    background-size:cover;
}
