header 
{   
    color: #000;
    background-color: transparent;
    margin: 0px;
}


div.menu-bar
{
    font-family: "monaco" "arial" sans-serif;
    position: relative;
    height: 30px;
    width:960px;
    padding: 0;
}

div.menu-bar ul 
{
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    overflow: visible;
    width:390px;
    margin: 0px 300px;
    padding: 0px;
    text-align: center;
}

div.menu-bar ul li
{
    display: block;
    float: left;
    height: auto;
    width: 130px;
    margin: 0px;
}

div.menu-bar li > span, div.menu-bar li > a, div.menu-bar li > a:link,
div.menu-bar li > a:visited, div.menu-bar li > a:active 
{
    margin: 0px;
    display: block;
    padding: 0 0 0 10px;
    line-height: 25px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

div.menu-bar li:hover > span, div.menu-bar li:hover > a 
{
    text-decoration: underline;
}

div.menu-bar ul ul
{
    margin: 0px;
    margin-top: 2px;
    display: none;
    position: static;
    height: auto;
    width: 120px;
    text-align: center;
}

div.menu-bar li:hover > ul
{
    display: block;
}

div.menu-bar ul ul li 
{
    margin: 0px;
    position: relative;
    float: none;
    display: block;
    height: 28px;
}

div.menu-bar ul ul li > span, div.menu-bar ul ul li > a,
div.menu-bar ul ul li > a:link, div.menu-bar ul ul li > a:visited,
div.menu-bar ul ul li > a:active 
{
    margin: 0px;
    padding: 0 0 0 4%;
    line-height: 28px;
    color: #000;
    font-size: 12px;
}

div.menu-bar ul ul li:hover > span, div.menu-bar ul ul li:hover > a 
{
    text-decoration: underline;
}

div.menu-bar ul ul ul 
{
    position:absolute;
    top: 4px;
    left: 155px;   
}


footer
{
    border-top: 1px dashed #000;
    padding: 10px 20px;
    margin: 10px;
    clear:both;
    font-size: 11px;
}